* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.container {
	max-width: 1440px;
	margin: 0 auto;
	padding: 0 111px;
}

body {
	background-color: #1e252b;
	font-family: sans-serif;
	overflow-x: hidden;
}
